* {
  box-sizing: border-box;
}
:root{
  --color-fuente: #ffffff;
  --color-fondo: #0099cc;
  --backgrounpage: #d3f1fc;
  --fondomarquesina:  #022d3b;
}
[tema="dia"] {
  --color-fuente: #ffffff;
  --color-fondo: #0099cc;
  --backgrounpage: #d3f1fc;
  --fondomarquesina:  #022d3b;
}
[tema="noche"]{
--color-fuente: #ffffff;
--color-fondo: #064b62;
--backgrounpage: #043243;
--fondomarquesina:  #d0d1d2;

}
.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 20px;
}

html {
  font-family: 'Calistoga', cursive;
  background-color: var(--backgrounpage);
}

.header {
  background-color: var(--color-fondo);
  background-repeat: no-repeat;
  padding: 18px;
  text-shadow: 2px 2px 5px rgb(21, 4, 85);
  font-size: 25px
 
}
.header h1 {
  color: var(--color-fuente);
  margin: 15px;
 
}
.header h5 {
  color: var(--color-fuente);
  margin: 15px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: var(--color-fondo);
  color: var(--color-fuente);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 25px;
}

.menu li:hover {
  background-color: var(--color-fondo);
  text-shadow: 10px black;
  font-size: 120%;

}

.aside {
  background-color: var(--color-fondo);
  padding: 15px;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 15px;
  shape-image-threshold: inherit;
}
.aside img {
  border-radius: 100px;
    border: 2px solid rgb(241, 238, 230);
    padding: 7px;
    width: 150px;
}
.aside p {
  color: var(--color-fuente);
  font-size: 18px;
  padding: 0px;
  margin: 0px;
}
.aside h2 {
  color: var(--color-fuente);
  font-size: 24px;
  padding: 2px;
  margin: 2px;
}
.footer {
  background-color: var(--color-fondo);
  padding: 0px;
}

.footer p {
  color: var(--color-fuente);
  text-align: center;
  font-size: 18px;
  padding: 15px;
  margin: 0px;
}
.footer img {
  width: 32px;
  padding: 0px;

}

[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {

  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
 
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
h1,h2,h3,h5, h4 {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: var(--fondomarquesina);
}
p {
  text-align: center;
  color: var(--fondomarquesina);
  font-size: 18px

}
.contenedor {
  display: flex;
  justify-content: center;
}
img {
    border-radius: 40px;
    border: 2px solid  #359bbd;
    padding: 7px;
    width: 200px;
}
.marquesina {
  background-color:  #022d3b;
  color: var(--color-fuente);

}
.selectema{
  background-color: var(--color-fondo);
  display: flex;
  justify-content: center;
}
.redes {
  background-color: #022d3b;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
  
}
.redes img {
  border: 0px;
  height: 36px;
  width: auto;
  justify-content: center;
  border-radius: 0px;

}
/** Boton configuracion*/

.temas input,
.content-select select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
 
.temas input{
	visibility: hidden;
	position: absolute;
	right: 0;
}
.temas {
	position: relative;
	margin-bottom: 30px;
	padding:5px 0 5px 60px;
	display: block;
}
.temas input + i{
    background: #359bbd;
    border:2px solid rgba(0,0,0,0.2);
    position: absolute; 
    left: 0;
    top: 0;
}
 
.temas input[type=checkbox ] + i{
	width: 52px;
	height: 30px;
	border-radius: 15px;
}
.temas input[type=checkbox] + i:before{
	content: ''; 
	width: 26px;
	height: 26px;
	background: var(--color-fondo);
	border-radius: 50%;
	position: absolute;
	z-index: 1;
	left: 0px;
	top: 0px;
	-webkit-box-shadow: 3px 0 3px 0 rgba(0,0,0,0.2);
	box-shadow: 3px 0 3px 0 rgba(0,0,0,0.2);
}
.temas input[type=checkbox]:checked + i:before{
	left: 22px;
	-webkit-box-shadow: -3px 0 3px 0 rgba(0,0,0,0.2);
	box-shadow: 3px 0 -3px 0 rgba(0,0,0,0.2);
}
 
.temas input[type=checkbox]:checked + i{
 background: var(--fondomarquesina);
}
.temas input[type=checkbox] + i:after{
	content: 'ON';
	position: absolute;
	font-size: 10px;
	color: var(--color-fuente);
	top: 8px;
	left: 4px;
	opacity: 0 ;
	transition: all 0.25s ease 0.25s;
}
 

.temas input[type=checkbox]:checked + i:after{
 opacity: 1;
}