/** titulos formato */
body{
    background-color: lightblue;
}
section{
    background-color: white;
    border: 3px solid blue;
}
h1{
   
    color: blue;
    font-weight: bold; 
    font-family: 'Calistoga', cursive;
    font-size: 70px; 
    letter-spacing: 2px;
    text-align: center;
    margin: 20px;
    padding: 0px;
}

h2{
   border: 3px solid yellow; 
    color: yellow;
    font-weight: bold; 
    font-family: 'Calistoga', cursive;
    font-size: 55px; 
    letter-spacing: 2px;
    text-align: center;
   text-decoration:underline;
   margin: 20px;
   padding: 0px;
   background: blue;
}
/** formato de los parrafos */
p{
    color: blue;background: yellow;
    font-size:20px; 
    font-family:'Raleway', sans-serif; font-weight:bold; font-style:italic; line-height:30px; letter-spacing:5px; text-decoration:underline; text-transform:capitalize; text-align:left; text-indent:30px;
}
/** formato de loS formularios */
input{
    background: yellow; color: black; 
    border: double; 
}
footer {
background-color: lightgreen;
    font-weight: bold; 
    letter-spacing: 2px;
    text-align: center;
    border: 3px solid white;
}